server {
    listen ${NGINX_BIND}:80 default_server;
    server_name _;

    set $audio_root "${AUDIO_ROOT}";
    set $api_backend "${API_UPSTREAM}";
    include /etc/nginx/snippets/music-locations.conf;
}
